.links {
  display: flex;
  align-items: center;
  gap: 2rem;

  list-style: none;
}

.link_icon {
  width: 2rem;
  height: 2rem;
  filter: brightness(0) saturate(100%) invert(68%) sepia(46%) saturate(419%)
    hue-rotate(356deg);
}

.link__icon:hover {
  filter: brightness(0) saturate(100%) invert(68%) sepia(46%) saturate(419%)
    hue-rotate(356deg);
}
