.card--dark {
  padding: 0 2.4rem;

  background-color: var(--almost-black);

  color: var(--white);
}

.card__title {
  margin-bottom: 2.4rem;
}

@media (min-width: 1024px) {
  .card--dark {
    padding: 0 4.8rem;
  }
}
