.hero {
  display: grid;
}

.thumbnail {
  position: relative;
  width: 100%;
}

.thumbnail__image {
  width: 100%;
}

.hero__body {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 3.2rem 1.6rem;
}

.hero__description {
  color: var(--dark-gray);
}

@media (min-width: 768px) {
  .thumbnail {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .thumbnail__image {
    width: 56.9%;
  }

  .hero__body {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    gap: 4.8rem;

    justify-self: end;
    align-self: center;

    width: 33.5rem;
    margin-right: 4rem;
    padding: 0;

    z-index: 1;
  }
}

@media (min-width: 1024px) {
  .thumbnail::before {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: var(--almost-black);
    z-index: -1;
  }
  .thumbnail__image {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 80rem;
  }

  .hero__body {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 35rem;
    gap: 0;

    margin: 0;
    width: 100%;
    max-width: 111rem;
    justify-self: center;
    align-self: flex-start;
    margin-top: 19rem;
  }

  .hero__title {
    max-width: 45rem;
    mix-blend-mode: difference;
    background: linear-gradient(
      to right,
      var(--white) 0%,
      var(--white) clamp(30%, calc(50vw - 27rem), 63.3%),
      var(--almost-black) clamp(30%, calc(50vw - 27rem), 63.3%),
      var(--almost-black) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero__button {
    margin-top: 4.8rem;
    grid-column: 2/3;
  }
}
