/* DESIGN SYSTEM */
:root {
  --gold: #d5966c;
  --almost-black: #151515;
  --white: #ffffff;
  --dark-gray: #444444;

  font-size: 62.5%;
  --big-shoulders: "Big Shoulders", sans-serif;
  --outfit: "Outfit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONTS */
.headline {
  font-family: var(--big-shoulders);
  font-weight: 900;
  font-size: 6rem;
  line-height: 5rem;
}

@media (min-width: 768px) {
  .headline {
    font-size: 7rem;
    line-height: 6.5rem;
    letter-spacing: 0;
  }
}

@media (min-width: 1024px) {
  .headline {
    font-size: 9.6rem;
    line-height: 8.8rem;
  }
}

/* Check if this styles already are applied in the design */
/* .headline-s {
  font-family: var(--big-shoulders);
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 3.6rem;
} */

.body-text {
  font-family: var(--outfit);
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 2.8rem;
  letter-spacing: 0;
}

@media (min-width: 1024px) {
  .body-text {
    font-size: 2.2rem;
    line-height: 3.2rem;
  }
}
