.grid {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 0 1.6rem;
}

.grid__header {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.grid__body {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.grid__body-flex {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

@media (min-width: 768px) {
  .grid {
    padding: 0 4rem;
    gap: 1.2rem;
  }

  .grid__header {
    flex-direction: row;
    gap: 6.8rem;
  }

  .grid__header .picture {
    width: auto;
    order: 2;
  }
  .grid__header .picture__image {
    width: auto;
    height: 40rem;
  }

  .grid__header .card {
    align-self: center;
  }

  .grid__body {
    flex-direction: row;
    gap: 1.2rem;
  }

  .grid__body-1 .grid__body-1__image {
    width: auto;
    height: 72rem;
  }

  .grid__body-flex {
    gap: 1.2rem;
  }

  .grid__body-flex .card {
    flex: 1;
    align-content: center;
  }
}

@media (min-width: 1024px) {
  .grid {
    width: calc(100% - 8rem);
    max-width: 111rem;
    padding: 0;
    margin: 0 auto;

    gap: 3rem;
  }

  .grid__body,
  .grid__body-flex {
    gap: 3rem;
  }
}
